@import "@/assets/styles/_variables.scss";

.profile {
 .h1Profile {
  margin-top: 50px;
  margin-bottom: 20px;
 }
 .h1Posts {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
 }
 .profileInfo {
  display: grid;
  grid-template-columns: 1fr 5fr;
  img {
   border: 2px solid #c7c7c7;
   border-radius: 100%;
   background: #c7c7c7;
  }
 }
 .userInfo {
  margin-left: 50px;
 }
}
